[2013-06-24 06:23] benknight opened #1 "Remove plist reads from filter.php and do them in query.py to speed up the filter script."
Right now there is a marked lag in user entry feedback.  For example, appending a color value to `hue 1:color:` has quite a lag in the result that shows `Set color to <color>`.  This is because each time the filter runs, it's re-reading the settings.plist file to get the API information.  Since query.py is making the actual API call, it should be there anyway, not in the filter script.

[2013-09-05 19:58] #1 closed, assigned to nobody

[2013-10-07 05:01] benknight opened #2 "Add "combined" queries"
To avoid having to run the workflow multiple times, you could send multiple commands at once. e.g. `hue 2:color:blue 1:off 3:bri:255`

[2013-10-07 05:02] benknight opened #3 "Add ability to save current Hue state as a preset"
Simply cache the current state of all lights and assign it a name that could be applied later.

[2013-10-07 05:04] benknight opened #4 "Add "all" option to lights menu"
So you can specify a command for all lights, e.g. `hue all:color:blue` or `hue all:bri:100`

[2013-10-07 05:08] benknight opened #5 "Change setup so that you first run the setup script then press the bridge button within 30 seconds"

[2013-10-08 08:03] objectiveSee opened #6 "Create user-specific groups of lights"
Easily create groups of lights and be able to send commands to a group in the same way as a individual light.

Thought: Remove the entire interface for controlling individual lights. Instead create a group for each individual light (ie. "Group 1" has light 1 in it only).

[2013-10-08 08:04] objectiveSee opened #7 "Schedule a command to be executed after some interval."
There's an API for scheduling

[2014-01-02 20:36] #5 closed, assigned to nobody

[2014-02-11 07:47] #2 closed, assigned to nobody

[2014-03-18 06:10] #7 closed, assigned to nobody

[2014-03-18 06:11] #6 closed, assigned to nobody

[2014-03-18 06:11] #4 closed, assigned to nobody

[2014-03-18 06:11] #3 closed, assigned to nobody

[2014-03-19 05:50] benknight opened #8 "Use full state API to get light info in a single request on initial "hue" command"
Currently when typing "hue" the first time into Alfred, a request is made to get a list of lights, and then an additional request per light.  This can be slow sometimes and gets in the way when using the script filter to do multiple tasks in a row.

http://developers.meethue.com/4_configurationapi.html#45_get_full_state_datastore

[2014-03-21 04:09] #8 closed, assigned to nobody

[2014-03-21 23:51] benknight opened #9 "Breaks when there are non-Hue Philips lights controlled by the bridge"
Workflow doesn't work when there non-Hue Philips lights controlled by the bridge, such as: LivingWhites Adapter, LivingColors Bloom, LivingColors Iris.

Bug reported here:
http://www.alfredforum.com/topic/2723-philips-hue-controller-workflow/?p=24732

Interestingly the same user reported no bugs for v1 of the workflow, meaning likely `xy` key isn't always present but other ones are.

[2014-03-27 07:13] #9 closed, assigned to nobody

[2014-03-28 06:55] benknight opened #10 "Support all Philips hue lights, including on/off and dimmables"
So the way I fixed #9 was by just ignoring these lights, but the workflow should support them because otherwise it's not very useful for people that have these on their lighting system.  Should be pretty easy to support.  Refer to this data export:

http://f.cl.ly/items/2U0u1h2G1l16253J3U1H/hue_CLIP_API_Debugger.txt

[2014-03-30 22:21] objectiveSee opened #11 "Missing .alfredworkflow file"
How can we install the workflow from source? Or should we just use the download link (if so, is it up to date?)

[2014-04-17 05:04] #11 closed, assigned to nobody

[2014-04-17 17:22] benknight opened #12 "Make preset icons some representation of the colors it contains"
I considered doing this as part of v2 originally but couldn't settle on exactly how to do it, and it would probably be a non-trivial amount of work.  Still I think it would be cool to do somehow.

If someone wanted to submit a pull request for this I would be more than thrilled :P

[2014-06-15 07:21] benknight opened #13 "Add hotkey support"
Some ideas:
- Command+Shift+O = Toggle all on/off
- Command+Shift+R = Set lights to a random color set

[2014-06-19 16:41] mschel opened #14 "-hue set-bridge not set"
hi there - great workflow!
just updated to latest version and the readme says "-hue set-bridge" for setup. Well the shortcut is not set. It's "setup-hue" at the moment. You might change the shortcut in your workflow file.

Cheers

[2014-06-28 13:37] #14 closed, assigned to nobody

[2014-08-01 20:26] benknight opened #15 "Create a help document within the workflow"

[2014-08-01 20:26] benknight opened #16 "Collect email addresses at download so that users can find out about future versions"

[2014-10-18 21:23] #13 closed, assigned to nobody

[2014-10-18 21:23] #15 closed, assigned to nobody

[2014-10-18 21:23] #12 closed, assigned to nobody

[2014-10-23 17:08] soyximo opened #17 "All Lights color, brightness, effect and reminder not working"
Hi Ben,

Great workflow! been testing it and everything works really well except for controlling all lights. It works for switching all on and off but not to adjust the brightness, color, effect and reminder for all bulbs.

For example hue lights:all:color: is not found by Alfred and looks for it on google. Not sure this is an issue or a misconfiguration.

many thanks!

[2014-10-24 05:30] #17 closed, assigned to nobody

[2014-10-29 17:53] benknight opened #18 "Add ability to control lights remotely (when not connected to local network)"
Pending API key from Philips Hue team.

[2014-11-06 21:00] benknight opened #19 "Separate out filter arg parsing of `lights:<id>:<function>:<value>` format into its own class"
Currently the filter classes send the action class a serialized JSON object as its item argument for the action class to execute, usually already in the form the Hue REST API expects.  It would be much simpler for the filter to only send string args in the `lights:<id>:<function>:<value>` format, which would allow other things to send the same strings to the action class, ultimately making hotkeys

[2015-01-06 02:47] joshbetz commented on #10
:+1:

[2015-01-06 08:05] romainpoirier commented on #10
Thank you for this fix that will change my everyday life!

[2015-01-17 18:12] dolbertz opened #20 "set-bridge successfull, but shows "Bridge connection failed" on next command"
I'm running Yosemite 10.10.1, Alfred 2.5.1 (308) and the current version of your workflow. I did not update, as I just set up hue at my house.

-hue set-bridge gives a "success"-Notification, but when I enter "hue", it just shows me that "Bridge connection failed" and I should use "-hue set-bridge" first. I also tried that twice, but still the same outcome.

I also opened up the console, but could

[2015-01-31 21:30] benknight commented on #20
@dolbertz, sorry for the delay in getting back to you.

I just tried a clean install of 2.3 and I wasn't able to reproduce the issue described.

It seems like the workflow is finding your bridge but when the connection is timing out when it attempts to communicate with it.  This is difficult to troubleshoot remotely, but let's try this first:

1. Go to `https://www.meethue.com/api/nupnp` this will

[2015-01-31 21:57] dolbertz commented on #20
Thanks for your reply!

I could successfully run the debug console: create a new developer, see a list of my "lights" and turn one off and on.

That also worked, when I used the username your workflow created and stored in ~/Library/Application Support/Alfred 2/Workflow Data/hue-alfred-workflow/settings.json. But the file ~/Library/Caches/com.runningwithcrayons.Alfred-2/Workflow Data/hue-alfred-wo

[2015-01-31 22:39] benknight commented on #20
What do you get back when you run this API command: `GET /api/<username>` in the debug tool?

[2015-02-01 06:18] dolbertz commented on #20
I sent you the information via email as I rather would not share that informaton with everybody.

[2015-02-01 10:10] benknight commented on #20
Thanks! I took a look over your API data and the reason became clear:  you have nothing but dimmable plug-ins on your Hue system, and sadly the workflow currently only supports Hue bulbs.  These are the many kinds of lights that are supported by the Hue system:  http://www.developers.meethue.com/documentation/supported-lights

I have a ticket to add support here: #10. It's my top priority at this

[2015-02-01 10:10] #19 closed

[2015-02-01 22:08] benknight commented on #10
I've added support to master but have yet to release.  Would love to have a few people beta test it first!

[2015-02-02 06:13] benknight commented on #18
Closing.  Don't plan on doing this.

[2015-02-02 06:13] #18 closed

[2015-02-02 19:35] benknight commented on #20
Hey Dirk,

Can you uninstall any previous versions of the workflow, install the one
attached, and tell me if it works for you?

Thanks!
Ben

On Sat, Jan 31, 2015 at 10:18 PM, Dirk Olbertz <notifications@github.com>
wrote:

[2015-02-02 19:37] benknight commented on #10
@romainpoirier @joshbetz can you help me test out a beta version that fixes this bug?

Here's the download link: http://cl.ly/1S2A0T1r0A39/Philips%20Hue%20Controller%20v2.4-beta.alfredworkflow

Let me know if you're able to control your dimmables now!

[2015-02-02 19:41] dolbertz commented on #20
I now can switch my lights on/off and also set the brightness! Great!

I didn't use the presets and I don't mind that the workflow shows options that I cannot use (eg. "Color Loop"-Effect).

Thanks!

[2015-02-02 19:43] benknight commented on #20
Oh thanks for reminding me about the effects.  I'll make sure I get rid of
those for dimmables.  Glad it worked!

On Mon, Feb 2, 2015 at 11:41 AM, Dirk Olbertz <notifications@github.com>
wrote:

[2015-02-02 19:55] #20 closed

[2015-02-03 18:05] romainpoirier commented on #10
Thanks for this update ! With my three Philips Hue Lux bulbs, almost everything is working fine.

But the Presets are not working for me. I tried to save some with different values, but each time the same value was recorded. I started, but when I call a preset, it not start.

Note that the Set color to... et Set effect .. are useless for me, as I'm using Philips Hue Lux bulbs. Perhaps it could be

[2015-02-04 05:55] benknight commented on #10
Thanks @romainpoirier.  I've since removed the options that don't make sense for non-color bulbs.

You were totally right about the presets not working, thanks for helping me find this.  I should really get some of my own Lux bulbs to test with.

Here's a new release that should hopefully fix all these issues:
https://github.com/benknight/hue-alfred-workflow/releases/download/v2.4-beta2/Philips.Hu

[2015-02-07 23:32] #10 closed

[2015-02-07 23:32] #16 closed

[2015-02-21 09:34] romainpoirier commented on #10
Thank you Benjamin for this update !

One suggestion for a future improvement : if you set color to or effect to
or brightness to and the bulbs are if the lights are not already turned on,
perhaps it could be useful to automatically turn them on after this action.

Lux bulbs are not so expensive compare to regular Hue bulbs  :-)

2015-02-04 6:55 GMT+01:00 Benjamin Knight <notifications@github.com>

[2015-04-23 16:59] benknight opened #21 "Make it possible to send multiple commands in one step"
Currently if you want to, for example, set your light to be on, the color blue, at 33% brightness, you'd have to execute this in three separate end-to-end steps via the the workflow's `hue` keyword.

Wouldn't life be better if we could do all three at once?  Implementation suggestion would be using a modifier key and an AppleScript script to reopen the workflow with one action string prepopulated,

[2015-04-28 05:01] benknight opened #22 "Groups is totally broken in 2.4"
Oops.

[2015-04-28 05:09] benknight opened #23 "Write some unit tests"
Sigh, need a better way than manual QA to make sure bugs aren't in major releases.

[2015-04-28 05:23] benknight commented on #22
Never mind, this is an invalid report as my workflow was using an out of date cache file for the settings.  (Specifically groups was formatted as `/groups/3/` instead of `3`

[2015-04-28 05:23] #22 closed

[2015-11-04 05:22] benknight opened #24 "Add color harmony modes to "All lights""
`hue all:mode:analogous red`
`hue all:mode:triad blue`
`hue all:mode:monochrome green`
`hue all:mode:complementary red`
`hue all:mode:tetrad red`
...

[2015-12-10 18:44] benknight opened #25 "Only show "Thanks for installing" form after first install"
Currently this happens after each `-hue set-bridge`.

That must be annoying.

[2015-12-17 12:52] hairybridget opened #26 "Bugs"
The workflow is able to connect to my hub and pull up my device list, items show accurate on/off and color status, but none of the commands are functioning.  Any tips?

[2015-12-17 20:37] benknight commented on #26
@hairybridget thanks for the report. I need more information to get an idea of what's going on. Are you able to take any screenshots or make a video? Quicktime makes it really easy to record your screen.  Also you can go to the workflow in the Alfred Preferences, click the bug icon (picture below), then follow the same steps where you try to set the lights, and tell me if anything appears in the l

[2016-01-27 13:21] leocrespo opened #27 "Move presets to first level"
It's much more useful to have presets on the first level and individual lights on the second. Nobody changes lights individually, we all change lights via presets, or scenes, or groups.

One never goes "turn of lamp number 8", but rather "load scene sleep", or "turn off group bedroom"

[2016-01-27 18:33] benknight commented on #27
I can see how that makes sense for some users.  I personally do use the workflow to control individual lights often, and I name mine things like "Desk" and "Bed" instead of by numbers.  But I'll take that into consideration, thanks!

[2016-01-27 18:35] benknight commented on #26
@hairybridget I'm going to close this since I have no other reports and no follow up information to investigate your information.  If you are still having this problem, feel free to open the issue.

[2016-01-27 18:35] #26 closed

[2016-02-15 02:04] benknight commented on #27
@leocrespo I have a suggestion for you.  If you go to the Alfred Preferences and edit the Hue workflow, you can press the "+" to add your own custom "Hotkey" trigger, and configure it as follows:

![image](https://cloud.githubusercontent.com/assets/786691/13038240/30ce8436-d345-11e5-9e1e-d7eb23932633.png)

What this does is automatically opens your presets based on a hotkey combination.  In the ex

[2016-02-15 02:04] #27 closed

[2016-06-27 18:47] stephenyeargin opened #28 "Alfred 3 compatibility"
I'm running Alfred 3, and can confirm this workflow seems to be in good order.

Only thing I'd note is that the `settings.json` file is saved in `~/Library/Application\ Support/Alfred\ 2/Workflow\ Data/hue-alfred-workflow/settings.json`. Not sure what kind of advice they have for that.

---

EDIT: Looks to be hard-coded here: https://github.com/benknight/hue-alfred-workflow/blob/2988e377ebbc340b66

[2016-06-28 03:28] #23 closed

[2016-06-28 03:30] benknight commented on #28
@stephenyeargin thanks for reporting! Can you explain what the issue is with the settings.json file?

[2016-06-28 03:36] stephenyeargin commented on #28
It's writing the file to a folder that, ostensibly, should no longer be in use -- I've upgraded to Alfred 3 and removed Alfred 2. However, this workflow's configuration files are _always_ stored in the `Alfred 2` path. While nothing is broken in my testing, users that have only used Alfred 3 may not have the same success.

[2016-06-28 03:45] stephenyeargin commented on #28
See the heading "Be Aware" in [this blog post](http://computers.tutsplus.com/tutorials/alfred-3-whats-new--cms-26726). The good news is that they made it backwards compatible. 😄

[2016-07-18 00:56] stephenyeargin commented on #28
Some more reading on a potential solution (wouldn't be backwards compatible) - http://www.alfredforum.com/topic/9070-how-to-workflowenvironment-variables/

[2016-09-17 20:07] bouvin opened #29 "Tk colour names?"
Hi

Would it be possible to add the colour names found here: http://wiki.tcl.tk/37701

Cheers
	Niels Olof

[2016-10-17 23:23] benknight commented on #29
@bouvin unfortunately there would be collisions with CSS color names like "cyan" for instance.

[2016-10-17 23:23] #29 closed

[2016-10-25 20:44] adambair opened #30 "Choosing CSS literal always fails on the first try, succeeds on second and color picker doesn't set color"
First off -- THIS IS AWESOME. I'm a software developer and just took the plunge and setup my house with hue lights... this alfred workflow is going to kick ass :)

That said, I've run into:
- I'm unable to use most css literal color names even though they seem to be defined in the source code. Here's an example

![](https://cl.ly/3n1f2i3V3U3K/Image%202016-10-25%20at%204.36.28%20PM.png)

which resu

[2016-10-26 20:34] benknight commented on #30
@adambair this is because of the delay in script execution that occurs each time you type a character.  If you wait a half second or so after typing the color, then press enter, it should work every time.  This is a bummer I admit, especially as I'm a fast typer myself.  I'll look into fixing this in the next update.

[2016-10-26 20:36] benknight commented on #28
I agree Alfred 3 compatibility should be a priority.  I don't plan on upgrading to 3 since it's a paid upgrade and I don't see any strong incentives to do it.  PRs to fix this issue are welcome!

[2016-10-26 20:37] benknight commented on #21
I don't see a huge need for this, although it would be kinda nice.

[2016-10-26 20:37] #21 closed

[2016-10-28 12:53] adambair commented on #30
Awesome! Thanks for the easy work around -- I totally get it, not a big deal -- most appreciated. Your Alfred/Hue integration is *fantastic*.

While I'm not a Python developer, Ruby here:

[![The Least Surprised](https://cl.ly/3N3O43412a0a/Image%202016-10-28%20at%208.51.19%20AM.png)](https://www.youtube.com/watch?v=mXZ_htL1rOI)

...I'm curious about where the delay is located in the code so I can

[2016-10-28 17:44] benknight commented on #30
@adambair See the "hue" script filter.

Each type you type a character it executes:

[code]

The script outputs the XML that Alfred uses to show results.

So as you're typing "purple" for example, there is a split second where after you type the final "e", the "Set color to" item has its action set to "lights:1:color:purpl", and if you hit enter too soon it will think you entered "purpl" which is

[2016-10-30 23:46] benknight opened #31 "Sort lights according to "group" setting"
It should be possible to use the "group" setting to specify which order lights are listed on the script filter.

For example, `-hue set-group 2,1,3,4` should cause lights to be listed exactly in that order.

[2016-11-07 04:45] #24 closed

[2016-11-07 04:45] #30 closed

[2016-11-07 04:52] adambair commented on #30
Sweet!

[2016-11-07 04:55] benknight commented on #30
@adambair in the next version (2.4.2) I've "fixed" this by making it impossible to hit the enter key until it recognizes that the input is a valid color string.

[2016-11-07 04:58] benknight commented on #31
Fixed by 316b39e299c0c1742ccf2ca27498a4cbc9c74379

[2016-11-07 04:58] #31 closed

[2016-11-07 05:00] benknight commented on #25
Closing as improved setup has made it so running `-hue set-bridge` is necessary less often.

[2016-11-07 05:00] #25 closed

[2016-11-08 06:30] benknight commented on #28
It looks like there should be no issues.  Yes the alp package references an old "Alfred 2" directory, but you can see in the code that it creates it if it doesn't already exists.   So without having actually tested yet, I don't anticipate any compatibility issues.  Waiting on my new license key to be able to actually test.

[2016-11-09 06:53] benknight commented on #28
I've updated alp's core (PR'd to original repo here: https://github.com/phyllisstein/alp/pull/23) in this commit: e6135e510dd7511d67d6478f2b2db35199a32562

However this is more of a "cosmetic" fix so that it technically refers to the correct storage/cache directories.  In either case (either migration to 3 or starting at Alfred 3), the workflow as it currently is would have refer to the "Alfred 2"

[2016-11-09 17:46] benknight commented on #28
Reopening as I've realized the "color picker" php script still has a direct reference to Alfred 2:

[code]

This is something that actually straight up won't work in Alfred 3.

[2016-11-09 22:25] benknight opened #32 "Replace alp with Alfred-Workflow package"
[Alp](https://github.com/phyllisstein/alp) has been unmaintained by its creator for years now, and as such hasn't kept up with new Alfred features and improvements.

[Alfred-Workflow](http://www.deanishe.net/alfred-workflow/) seems to be the go-to Python library for Alfred these days.  Some [context here](http://www.alfredforum.com/topic/9703-how-to-tell-in-workflow-code-if-user-has-alfred-2-versu

[2016-11-19 08:27] benknight opened #33 "Support color gamut A"
New Hue bulbs, LivingColors Bloom, Aura, Light Strips and Iris use gamut A, which has a wider range of color:
http://www.developers.meethue.com/documentation/color-conversions-rgb-xy

[2016-11-24 08:01] tungnh91 opened #34 "Color picker"
After a color is being picked from the color picker, Alfred disappear after hitting done. Command was not executed.

[2016-11-24 08:20] benknight commented on #34
@tungnh91 are you using Alfred 2 or 3?  Currently broken in Alfred 3, will be fixed in next release (2.5).

[2016-11-24 08:21] tungnh91 commented on #34
@benknight I'm using Alfred 3, looking forward to the update! Thanks for the all the hard work.

[2016-11-24 08:29] benknight commented on #34
You can fix it yourself by editting the workflow.  Double click the first "/usr/bin/php" Run Script actions and in the PHP code change where it says "Alfred 2" to "Alfred 3"

[2016-11-24 08:31] #34 closed

[2016-11-26 19:03] stephenyeargin commented on #28
May not be a big loss if this feature is dropped (alternatively, could create a branch that maintains support for folks using Alfred 2). In my use cases, I've only asked for specific colors by name (`red`, `blue`, white`).

[2016-12-10 21:59] #28 closed

[2016-12-11 02:49] benknight opened #35 "Better groups/rooms support"
Make it possible to define multiple groups that show up at the top of the filter list, so...

[code]

Each group opens the same options as currently available for "All lights"

[2016-12-11 02:49] #33 closed

[2017-01-20 09:59] hugo1721 opened #36 "Spanish letter "Ñ""
If you put a name of preset with the Spanish letter "Ñ", you can not execute any of the ones you have saved.

[2017-01-27 01:02] benknight commented on #36
Thanks Hugo, will fix.

[2017-03-08 15:26] csteinlehner opened #37 "Question: Editing presets"
Is there a way to edit the presets directly in a text editor or similar? Would be great way to upgrade to more lamps.

Thanks

[2017-03-18 18:42] csteinlehner commented on #37
I found the solution. By entering the config section with "-hue" you have the option to open the presets store location, which is at ~/Library/Application Support/Alfred 3/Workflow Data/hue-alfred-workflow/presets.

There is a folder for every preset which includes the JSON file.

[2017-03-18 18:42] #37 closed

[2017-07-11 05:24] benknight opened #38 "Add hotkey for incrementing and decrementing brightness by 5%"

[2017-07-30 04:24] benknight commented on #32
Considered this for next major update but ultimately I don't think it's worth the refactor.  Alp is working fine.  I'll do this refactor when there is a definite need.

[2017-08-20 04:20] benknight commented on #32
Completed in version 3.0

[2017-08-20 04:20] #32 closed

[2017-08-20 04:20] benknight commented on #35
Done

[2017-08-20 04:20] #35 closed

[2017-08-20 04:34] benknight opened #39 "LIFX support"
It should hopefully be possible to make this workflow work with LIFX.

https://github.com/mclarkk/lifxlan

[2017-08-20 04:47] benknight commented on #36
Closing because presets no longer exist

[2017-08-20 04:47] #36 closed

[2017-11-13 23:53] adambair opened #40 "Ability to specify groups by name"
I used quite a while ago and it's still amazing. Thanks for all your (and contributor's) hard work.

This is more of a feature request... It would be super helpful if you could select groups based on their actual name instead of having to know their group number.

example:

`hue groups:dining:bri:25`

instead of:

`hue groups:3:bri:25`

If there's a way to do this already -- my apologies, I didn't

[2017-11-20 04:12] RishabSwift commented on #40
Also would like to suggest to include like a toggle one.

such as groups:3:toggle

[2017-11-21 05:04] rgrtht opened #41 "Capability to cycle scenes"
Don't know how popular this would be - just a suggestion. I would find it very handy, but I'm not even sure if it's possible. Sorry - I didn't really think much beyond suggesting it. :/

[2017-11-23 15:22] benknight commented on #40
I debated about this but went with the group ID for a few reasons.  First it doesn't change, unlike the name.  Second that way the action string doesn't have any spaces in it, which makes things easier to deal with since the script uses spaces to split the string into multiple commands.

If you watch the notification message after you perform an action or open history.txt from the workflow configu

[2017-11-23 15:28] benknight commented on #41
That's a cool idea, but maybe a bit beyond the scope here.  There are probably other Hue apps out there that do that.

I'm not actually sure if it's possible because this would require having a script running in the background, sending a command to the bridge on a set interval.  I think when Alfred executes scripts, they terminate after a set time out.

[2018-01-17 20:25] #41 closed

[2018-02-09 04:42] #40 closed

[2018-07-12 20:58] LETRA opened #43 "No json object could be decoded"
Hi. I have a problem for a few days. I thought an update would fix it, but I see that I am the only one who has reported this problem.

When I start Hue Controller I get the message "no json object could be decoded". I hope you can help out.

Thank you.
<img width="704" alt="captura de pantalla 2018-07-12 a las 22 44 07" src="https://user-images.githubusercontent.com/16805254/42658958-12f06fbe-862

[2018-08-04 08:08] samling opened #44 "Colorpicker claims hex code is invalid"
Just installed this workflow and I love it so far, but I've run into an issue with the colorpicker. When I enter any hex or name value for an individual lamp's color, I get back `Error: Invalid color. Please use a 6-digit hex color.` Setting the color for a group seems to work fine.

I don't know much about making Alfred workflows, particularly which python it's using, but I've got 3.7 as my defau

[2018-08-10 18:38] samling commented on #44
@benknight Unfortunately I've already tested this, I found a closed issue that referenced the bug and waited a good 10-15 seconds after typing before hitting enter. I tried again just now to double-check, but still the same issue.

[2018-11-28 15:54] brichards commented on #44
Firstly, what a cool utility! Thanks for maintaining it, @benknight!

I'm adding my voice to say I'm experiencing this, too. I'm running OS X 10.14.1, Alfred 3.7, and Python 2.7.10.

I don't strictly need this feature at the moment, since my current use case will allow me to simply change the scene, but I did want to add a +1 to the bug occurring and offer up _my_ time to help troubleshoot and deb

[2018-11-28 16:16] brichards commented on #44
Breakthrough!

After poking around a bit in colors.py and changing `get_light_gamut()` to manually return each of the different gamuts in turn I realized the issue is that my light isn't among any of the definitions.

I have an LCT016 bulb, which belongs to Gamut C according to https://developers.meethue.com/develop/hue-api/supported-devices/. I'm going to submit a PR to account for this bulb and

[2018-11-28 17:43] samling commented on #44
@brichards I am indeed using LCT016 bulbs. Great find!

[2018-11-28 17:44] samling commented on #44
I'm going to close this as the cause of this issue has been determined and a fix has been included in your PR.

[2018-12-05 08:08] benknight commented on #44
Thanks for the help guys, I'll cut a new version

[2018-12-05 08:31] benknight commented on #44
@brichards @samling can you guys try out this prerelease and tell me if it fixes the issue:

https://github.com/benknight/hue-alfred-workflow/releases/tag/v3.0.1

Thanks!

[2019-04-24 18:44] brichards commented on #43
I've just encountered this myself in the past week.

@benknight Any ideas where I could begin to look to help debug?

[2019-04-27 07:07] benknight commented on #43
@brichards can you open Alfred Preferences, go to Workflows, select Philips Hue Controller, select the little debug icon in the top right, then trigger the workflow by typing "hue" in Alfred, and copy and paste whatever output occurs in the debug log?

<img width="1440" alt="Screen Shot 2019-04-27 at 2 06 26 PM" src="https://user-images.githubusercontent.com/786691/56846160-bc7b8a80-68f5-11e9-89eb

[2019-04-29 14:14] brichards commented on #43
Well isn't that slick. I remember seeing the bug icon when first knocking around Alfred years ago, then promptly forgot about it, it would seem.

Here's what I'm getting:
[code]

[2019-04-30 11:26] benknight commented on #43
@brichards excellent, I agree with your assessment of the issue :D Feel free to submit a pull request, or I can look at this issue some time in the future.

If future readers come across this issue and it's still not resolved, uninstalling and reinstalling the workflow should work in the case that the bridge's IP address changed.

[2019-05-24 02:46] merchako commented on #43
In the meantime, the it's easier to delete (or rename) `~/Library/Application Support/Alfred 3/Workflow Data/hue-alfred-workflow/settings.json` than it is to replace the IP address stored. So the brainless approach is:

1. Rename or delete the `settings.json`,
2. Press the sync button on your Hue hub,
3. Reinitialize `hue-alfred-workflow` by Alfreding `hue +` the only option.

[2019-10-19 01:26] fearoffish opened #46 "Room/Group Filtering"
I'm using Alfred 4 (so I don't know if that's supported), and when I type `hue liv` then I'd expect it to filter the list down to my 'living room' group. However, it does nothing. Literally nothing is filtered, it's ignored. Instead I have to either scroll down to living room and select it (which then converts it to the correct group name).

Is this a bug or intentional behaviour?

[2020-03-26 19:55] shmuel opened #47 "Unclear out to resync the list of devices"
I have changed the list of groups available on my device and they don't seem to have updated. There is no "sync" command or similar to update the workflow's list of groups and devices.

[2020-04-12 16:46] njm2112 opened #48 "not possible to set hub ip manually anymore"
after stupidly setting up my hub in a location that is out of reach, the ability to manually set the hub's ip in this workflow is needed...

unfortunately, using the `hub [ip-address]` command does not seem to work:

[code]

[2020-06-19 11:57] Baggydawg opened #49 "Filter out group scene results by typing name (not currently working)"
After activating the workflow with the keyword, the dropdown list of options is filtered out as I continue typing the next action.

However for some reason on the group scene selection drop down, results aren't filtered out even as I type out their names.

I only set preconfigured scenes with Hue, so I created a keyword that brings me to this scene setting, and ideally each time I'd like to just c

[2020-07-01 08:12] #44 closed

[2020-07-01 08:17] benknight commented on #48
@njm2112 sorry for the delayed response.

This might be a stupid question, but did you happen to press the bridge button before you set the bridge's IP address. Strictly going by the log you included that seems to be the issue.

[2020-07-01 10:32] benknight commented on #49
@Baggydawg can you try updating to the latest version v3.0.2 and see if that fixes? I recommend clearing out your settings via `hue workflow:reset`

[2020-07-01 10:32] benknight commented on #48
@njm2112 by the way I just updated the workflow to a new version v3.0.2. Can you update see if that fixes? I recommend clearing out your settings via `hue workflow:reset`

[2020-07-01 10:33] benknight commented on #47
@shmuel can you try updating to the latest version v3.0.2 and see if that fixes? I recommend clearing out your settings via `hue workflow:reset`

[2020-07-01 10:59] Baggydawg commented on #49
I just delete the whole workflow and package contents, redownloaded from here, reinstalled and updated to the latest version.

It's connected again however same result, the scenes aren't filtered out as I type which is annoying.

[2020-07-02 11:37] #49 closed

[2020-07-02 11:39] benknight commented on #49
@Baggydawg this has been fixed in v3.0.3

[2020-07-06 08:54] magoz commented on #49
I'm on v3.0.3 and it's not working for me either.
I reinstalled and also ran `hue workflow:reset`. I'm on macOS 10.15.5.

Am I missing something @benknight?

Thanks.

[2020-07-06 08:57] Baggydawg commented on #49
This is working for me now, thanks.

@magoz I deleted the workflow entirely, and set it up again from scratch. Give that a shot.

[2020-07-06 09:01] magoz commented on #49
Did you do something special when deleting the workflow? Is there any other way to remove the workflow entirely other than just right-click on delete workflow from Alfred's preferences?

[2020-07-06 09:04] Baggydawg commented on #49
I just deleted it from inside Alfred Pref, then also deleted the downloaded zip + unzipped contents.

When setting up you'll obviously have to re-press the bridge button. But it worked for me, so I don't see why it wouldn't for you.

[2020-07-06 09:16] magoz commented on #49
Yeah, that's what I did, but the results still don't filter out when typing.
I've did some testing and while the rooms/lights don't filter out, the actions do (screenshots below).

<img width="619" alt="Screen Shot 2020-07-06 at 11 14 15" src="https://user-images.githubusercontent.com/9190753/86577107-0b04ca00-bf7a-11ea-917c-6a8081ecbea2.png">

<img width="619" alt="Screen Shot 2020-07-06 at 11 14

[2020-07-14 00:09] samkasman commented on #48
I had the same issue, doing a `hue workflow:reset` and then letting it update fixed it.

[2020-07-29 09:15] magoz commented on #49
I still can't make it work.

@benknight is this the intended behavior?

[2020-08-10 14:41] jakelfreeman commented on #48
I am having the same issue. Have tried running workflow:reset and workflow:update, completely uninstalling workflow and reinstalling (including all Application Support files) and explicitly specifying IP address in the linking process. I've always pressed the button prior to trying to link. Any ideas?

[2020-08-11 08:49] macx commented on #46
Yes, this would be really nice to have.

[2020-08-20 04:55] varenc opened #51 "Combining commands with `|` doesn't work?"
I couldn't get multiple commands combined with `|` to  work.  The last command in the combo is the only things that runs.  It didn't look like the python code that appears to split on `|` was involved.

My hacky solution to this was to change the bash script that processes external triggers to this:
[code]

And it works okay!  Would be far more efficient to do the splitting on the python side (and

[2020-09-29 12:18] dpasdar opened #52 "Compatibility with deConz bridge"
I have newly replaced my hue-bridge with a deCONZ (on raspberry-pi), it should be(and is) compatible with the hue API, and the workflow is also working so far quite well with some small adjustments which I thought I would share here:

filters.py(line 125) instead of
[code]
we can use:
[code]

The same should also be done in utils.py(line 66)
[code]

The problem is that the deCONZ bridge identify i

[2020-12-14 17:48] fns opened #53 "Script filter with parameter does not work"
I'd like to add a keyword to be able to search lights by their name directly, without using the lights: prefix.
I have created a script filter:

`/usr/bin/python -m logic.filters "lights:{query}"

 It takes me to the light list immediately and as I start typing the name of the light the list filters properly, but after I press enter on a certain light I will get the following error:
 
 ```
18:42:1

[2020-12-16 04:59] benknight commented on #53
It looks like there is no cached light data for the light with ID "7". At this point in the workflow logic, lights data is being loaded from the cache because its assumed you got there from following previous steps which load the light data from the bridge API. If you're calling this directly, probably there's no cached data for your light ID. You could try changing https://github.com/benknight/hu

[2020-12-16 05:01] benknight commented on #52
@dpasdar Feel free to submit a pull request. Sorry it's been a long time since I wrote Python. Is there a less verbose way to check for existence?

[2020-12-16 05:15] benknight commented on #51
@varenc sorry for the long delay.

I no longer own a Hue system (crazy I know) so I can't confirm your bug report. If you can reliably reproduce this issue and are confident that command splitting is indeed broken, please submit a pull request so that I can cut a new version.

[2020-12-16 05:16] benknight commented on #48
Closing for now. If bug reappears will investigate further.

[2020-12-16 05:16] #48 closed

[2020-12-16 05:17] #47 closed

[2020-12-16 05:18] #43 closed

[2020-12-16 07:29] dpasdar commented on #52
Funny you mentioned it, my daily job is Java, so verbose is the name of the game ;P, so I don't know tbh. But according to this another way is to use exceptions : https://stackoverflow.com/questions/43491287/elegant-way-to-check-if-a-nested-key-exists-in-a-dict

[2020-12-17 07:48] fns commented on #53
No, it still does not work, same error.

[2020-12-17 11:19] benknight commented on #53
Okay, feel free to troubleshoot on your own and if you find a logic bug submit a pull request or report back here on the issue.

[2020-12-18 06:17] benknight commented on #52
Thanks for the PR. There are several more places in the code that reference light state like `light['state']['on']`. Are you sure these are the only references that need to be updated?

[2021-02-08 16:54] jonathanmuth commented on #38
This would be lovely indeed! 💡🎚

[2021-02-20 10:58] #52 closed

[2021-06-30 20:24] scholzie commented on #51
@benknight I took the liberty of fixing it, since I ran into this problem today.

[2021-07-09 10:45] #51 closed

[2021-08-07 13:38] mcgaritydotme opened #58 "Error During Installation"
Using Alfred 4.5, I receive the following error when attempting to connect to my bridge (either using the manual button or explicitly entering the bridge's IP address):

`
{
  "items": [
    {
      "valid": false,
      "subtitle": "u'username'",
      "icon": {
        "path": "/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/AlertStopIcon.icns"
      },
      "title": "Error in

[2021-08-16 20:05] mjl commented on #58
I just had the same experience and tried debugging.

It seems action.py:209 should read

[code]

or perhaps

[code]

otherwise it will never call the setup function.

[2021-08-17 00:36] benknight commented on #58
Can you guys try downloading the version from the releases page while I
debug this? sorry about that.

On Mon, Aug 16, 2021, 16:05 Martin J. Laubach ***@***.***>
wrote:

[2021-08-17 00:36] benknight commented on #58
The last version*

On Mon, Aug 16, 2021, 20:35 Benjamin Knight ***@***.***> wrote:

[2021-08-19 14:56] mcgaritydotme commented on #58
Thanks for the responses.  I got this error using the latest version from the downloads page (3.0.5, from July)

[2021-08-19 17:10] benknight commented on #58
There was a logic bug introduced in #57.  I've fixed and published as v3.0.6

[2021-08-19 17:10] #58 closed

[2021-08-19 19:33] mcgaritydotme commented on #58
Tested successfully.  Thank you for the turnaround, and great work on this overall!

[2021-10-29 08:47] chessemuffin opened #60 "Got a new Mac and transferred all the data over but, I can't use the hue controller"
I keep getting this error message, I have tried deleting and reinstalling the workflow but it won't take me back to the set-up menu. I think its something to do with the transferring of data from my old intel mac to my new silicon mac, and something may have gotten messed up. I love this workflow and it would be awsome if anyone has a fix.

Thanks,

![image](https://user-images.githubusercontent.c

[2021-11-24 03:14] varenc opened #61 "Colorpicker broken in Alfred 4 - fix is to update the PHP script to use `Alfred` instead of `Alfred 3`"
Exact same issue as #34, but now with the Alfred 4 release.

But turns out, you can also just have Applescript send the commad to application `Alfred` instead of `Alfred 3/Alfred 4/Alfred 5` and it seems to work fine!

Fix is to update the PHP script, which is part of the Workflow's Info.plist.  Just change this:
- ```	return `osascript -e 'tell application "Alfred 3" to search "hue $action"'`; ``

[2021-12-01 14:23] leonard84 opened #63 "Replace use of PHP by python"
Please replace the PHP script by python, so that one doesn't have to install php just to run parts of this workflow. The same functionality should be achievable in python as well.

[2022-01-16 15:57] Ostendorf commented on #49
Hello, just installed v3.0.6 and I have this same problem. I connected the workflow to Hue Bridge and that works, but it does not filter the results. I can only use it by selecting the items manually. Would appreciate it if the filter functionality can be fixed. Tell me if I can help in any way.

[2022-01-16 15:59] Ostendorf commented on #46
Probably related to https://github.com/benknight/hue-alfred-workflow/issues/49#issuecomment-1013901686

[2022-03-16 06:40] det-box opened #64 "Support for macOS 12.3+"
Hello,
since Monterey 12.3 it does not work anymore.
There is no
/usr/bin/python
anymore, only
/usr/bin/python3.

Please fix
Thanks

[2022-03-16 08:11] leonard84 commented on #64
`/usr/bin/php` is also not available anymore

[2022-03-16 10:56] det-box commented on #64
No
/usr/bin/php and
/usr/bin/python and
/usr/bin/python2 do not exist anymore.
Only
/ust/bin/python3

[2022-03-17 14:25] mattshelton commented on #64
There are dependency issues as well. Even if you try to replace /usr/bin/php and /usr/bin/python with a more correct location (php has to be installed manually or via homebrew), there are dependency errors for example:

`Traceback (most recent call last):
  File "/Users/username/Dropbox/Apps/Alfred/Alfred.alfredpreferences/workflows/user.workflow.AC154D62-5687-4CEF-A3EC-A59E2E3FABD3/logic/setup.py

[2022-03-17 23:48] benknight commented on #64
Yes unfortunately it seems both Python 2 and PHP were removed in recent versions of macOS which is a bummer! When I find time I will try to fix this but it's difficult as I no longer own Philips Hue lights (I switched to Lifx). Pull requests are welcome.

In the mean time, if you're technically savvy enough, re-installing Python 2 and PHP on macOS should solve the issues. Not ideal obviously!

[2022-03-21 13:32] leonard84 commented on #64
@benknight What was the reason to mix python and php in the first place, what was python missing?

[2022-03-21 13:54] benknight commented on #64
There is a PHP script for the color picker only. The rest is Python

[2022-03-24 18:57] niam0r commented on #64
Hi, and thanks for your workflow :)

Is there a specific PHP version required?

[2022-04-05 10:12] BenoitFroment commented on #64
@benknight can u precise how to install Python2 (using homebrew for example) and which version of PHP is required ?
Thanks

[2022-04-10 16:55] sarpdoruk commented on #64
Run the following commands, download and import the modified version and you'll be good to go.

[code]

Download the following and import. If the workflow asks you to update it, DON'T. It's because I've changed the internal files of the workflow.

I just replaced `/usr/bin/python` with `/usr/local/bin/python` in 2 different files.

[Philips Hue Controller.alfredworkflow.zip](https://github.com/ben

[2022-04-20 23:12] dscox commented on #64
I've tried this Sarpdoruk. The first two commands worked but when I tried the 3rd I get a message saying: ln: /usr/local/bin/python: Permission denied

When use Alfred and type "hue" also get the following error:

Code 127: /bin/bash: /usr/local/bin/python: No such file or directory

Any idea what's happening?

[2022-04-20 23:46] sarpdoruk commented on #64
Try running this with "sudo" prefix like below. You will need to enter your password when prompted.
[code]

[2022-04-21 01:49] dscox commented on #64
Thanks Sarpdoruk, unfortunately I'm still getting the same Code 127 error. No idea what's happening. It worked fine before the Monterey upgrade, but not anymore. Should I install Python 2?

[2022-04-21 07:16] sarpdoruk commented on #64
Yes, you do need Python2. Actually, that's what the first part of the command does. It installs Python2.7 so that the workflow can use it.

[2022-04-21 07:32] dscox commented on #64
Yeah still not working... and followed the three steps precisely:

brew install pyenv gave me this output
<img width="565" alt="Screen Shot 2022-04-21 at 17 21 11" src="https://user-images.githubusercontent.com/7822015/164400948-98e48dd7-95fd-46cc-99a4-ae4efc03923b.png">

pyenv install 2.7.18 just, well, reinstalled what was already there (and I got this response)
<img width="565" alt="Screen Shot

[2022-05-07 21:07] benknight commented on #64
Hey guys sorry I've been missing from this conversation. I've update the README with steps for getting the workflow to work again. In the mean time I'm waiting for a Python3-compatible version of this workflow's (primary dependency)[https://github.com/deanishe/alfred-workflow] to become available. Once that happens I'll publish a new release and close this issue.

[2022-05-08 14:38] benknight commented on #63
Totally agreed. I don't currently have a a Philips Hue system in my possession, but I welcome pull requests and will credit you accordingly. Thanks!

[2022-05-08 15:01] benknight commented on #64
Since I no longer have a Philips Hue system in my possession I'm looking for a contributor to do the Python 3 upgrade. Github user [xilopaint](https://github.com/xilopaint) is working on a hard fork of the Alfred-Workflow which aims to support all existing features. He hasn't published it yet but the latest source can be pulled from one if his workflow projects. See this comment for more details:

[2022-05-08 15:02] #61 closed

[2022-05-08 15:06] benknight commented on #60
Closing this with the recommendation to remove workflow and reinstall.

[2022-05-08 15:06] #60 closed

[2022-05-19 00:39] dscox commented on #64
Morning/Evening all... just wanted to give you an update, as I appear to be the only person suffering issues with this. I've installed Python 2 and done everything per the README, but alas it's still not working for me. Also, I checked the scripts to make sure it says /opt/homebrew/bin/python. Now have the following error... is it just me?

[10:37:54.032] Philips Hue Controller[[Script Filter](alf

[2022-05-22 17:39] benknight commented on #64
Hey @dscox my bad, I forgot to update some references to the system-installed Python 2 that used to exist before macOS 12.3.

Please download and install v3.0.8 from the releases page here: https://github.com/benknight/hue-alfred-workflow/releases/tag/v3.0.8

Of course, make sure you've also already followed the instructions to install Python 2 via Homebrew (which I'm pretty sure you already did).

[2022-05-22 22:28] dscox commented on #64
It's ALLLLLIIIIIIIIVE!!!

I mean... thanks; it works! Great stuff. Thanks again Ben/all.

[2022-05-24 19:23] subelsky commented on #64
hi all, for me homebrew installs to `/usr/local/bin/`, so after installing Python 2 [per the Alfred instructions](https://www.alfredapp.com/help/kb/python-2-monterey/), I had to modify the Script Filter and the bash Run Script to use `/usr/local/bin/python`. Works great.

@benknight this is an awesome workflow! maybe we can all chip in and send you a Hue bridge and light!

[2022-05-24 19:28] benknight commented on #64
@subelsky ha, thanks! That's odd that it installs to a different location even when you're on the most recent version of macOS.

As for sending me a bridge, thanks for the offer! The reason I don't have a Hue system anymore is twofold - first I'm a nomad so I try to avoid carrying too much, and back in 2017 I switched to using LIFX instead because at the time it was a better system (wider color ga

[2022-05-24 22:49] dscox commented on #64
It's really funny you should say that Ben. I actually went out and bought a LIFX light, as the Hue workflow wasn't working. My intention was to use a LIFX workflow instead (with my new fancy COLOURED light!)... but the LIFX workflows I tried didn't work either. :-(

Soooooo.... don't suppose in your technological wisdom you've created something similar for LIFX have you? I can't seem to find an Al

[2022-05-24 23:49] benknight commented on #64
Haha it's an idea I've explored many times. I would say at this particular point I'm not really interested in working on it, but who knows, maybe one day.

[2022-08-09 17:05] mkcologne opened #66 "No Keyword reaction after Update to 3.0.8"
If I write the Keyword the Workflow does not start. Alfred Version 5.0.1 - Workflow Version: 3.0.8.
Restarting Alfred has no effect.
M.